<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Máy cũ giá rẻ</title>
    <!-- link-css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/css/oldPhones.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <!-- --- -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <script src="../static/js/oldphones.js"></script>
  </head>
  <body>
    <div class="container-fluid header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/img/iconFPT.png" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex col-5">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Nhập tên điện thoại, máy tính, phụ kiện... cần tìm"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>

            <ul class="navbar-nav">
              <li class="nav-item text-center">
                <a class="nav-link"
                  ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                ></a>
                <a class="nav-link h-text" href="#">Thông tin hay</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link"
                  ><i class="fa fa-file-text" aria-hidden="true"></i
                ></a>
                <a class="nav-link h-text" href="#">Thanh toán & dịch vụ</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link"
                  ><i class="fa fa-user-circle-o" aria-hidden="true"></i
                ></a>
                <a class="nav-link h-text user-of-me" href="#"
                  >Tài khoản của tôi</a
                >
                <!-- child-user -->
                <ul id="menu-user">
                  <li>
                    <a href=""
                      ><i class="fa fa-info-circle" aria-hidden="true"></i
                      >&ensp;Thông tin của tôi</a
                    >
                  </li>
                  <li>
                    <a href=""
                      ><i class="fa fa-shopping-cart" aria-hidden="true"></i
                      >&ensp;Giỏ hàng của tôi</a
                    >
                  </li>
                  <li>
                    <a href=""
                      ><i class="fa fa-sign-out" aria-hidden="true"></i
                      >&ensp;Đăng xuất</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link"
                  ><i class="fa fa-shopping-cart" aria-hidden="true"></i
                ></a>
                <a class="nav-link h-text" href="#">Giỏ hàng</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid h-bottom">
      <div class="d-flex justify-content-center">
        <ul>
          <li>
            <a
              href="/dienthoai"
              class="nav-menu"
              value="dienthoai"
              id="dienthoai"
            >
              <i class="fa fa-mobile" aria-hidden="true"></i>&ensp;ĐIỆN THOẠI
            </a>
          </li>

          <li>
            <a href="/tablet" class="nav-menu" value="tablet" id="tablet">
              <i class="fa fa-table" aria-hidden="true"></i>&ensp;TABLET
            </a>
          </li>
          <li>
            <a href="" class="nav-menu" value="phukien" id="phukien">
              <i class="fa fa-headphones" aria-hidden="true"></i>&ensp;PHỤ KIỆN
            </a>
          </li>
          <li>
            <a href="" class="nav-menu">
              <i class="fa fa-repeat" aria-hidden="true"></i>&ensp;MÁY CỦ GIÁ RẺ
            </a>
          </li>
          <li>
            <a href="" class="nav-menu">
              <i class="fa fa-id-card" aria-hidden="true"></i>&ensp;SIM & THẺ
            </a>
          </li>
          <li>
            <a href="" class="nav-menu">
              <i class="fa fa-gift" aria-hidden="true"></i>&ensp;KHUYẾN MÃI
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="">
      <a href="url">Trang chủ </a>
      <a href="url">/ Máy cũ giá rẻ</a>
    </div>

    <div class="wrapper">
      <i class="fa-solid fa-angle-left"> </i>
      <div class="carousel">
        <img
          src="https://fptshop.com.vn/Uploads/Originals/2023/2/6/638112764646283633_F-C3_5.png"
          alt="quangcao1"
        />
        <img
          src="https://fptshop.com.vn/Uploads/Originals/2023/2/6/638112765380770680_F-C3_590x160-1.png"
          alt="quangcao2"
        />
        <img
          src="https://fptshop.com.vn/Uploads/Originals/2023/2/6/638112765376899871_F-C3.png"
          alt="quangcao3"
        />
        <img
          src="https://fptshop.com.vn/Uploads/Originals/2023/2/6/638112762325122922_F-C3_590x160.png"
          alt="quangcao4"
        />
      </div>

      <i class="fa-solid fa-angle-right"> </i>
    </div>

    <div class="small-container">
      <h2 class="title">Máy cũ giá rẻ</h2>
      <div>
        <img
          src="https://fptshop.com.vn/may-doi-tra/Content/Desktop/images/cate/sockdeal-title.png"
          alt="quangcao"
          class="quangcao"
        />
      </div>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-active" style="width: 234.4px">
        <div class="item">
          <div class="mc-lpcol">
            <a
              href="/may-doi-tra/dien-thoai-cu-gia-re/iphone-13-pro-128gb-htm"
              title=""
              class="mc-lptop"
            >
              <p class="mc-lpimg">
                <img
                  src="https://fptshop.com.vn/Uploads/Thumbs/2022/4/22/637862349455987973_iphone-13-pro-max-vang-1.jpg"
                  alt="iPhone 13 Pro 128GB"
                />
              </p>
              <div class="mc-lpttm clearfix">
                <span class="mc-lpttm-i">2 máy</span>
                <div class="mc-lpttm-b">
                  <strong>Còn 2 máy tại:</strong>
                  <span>Bắc Ninh</span>
                </div>
              </div>
              <div class="mc-ptrkmp">Giảm 2.107.600₫</div>
            </a>
            <div class="mc-lpbot">
              <h3 class="mc-lpiname">
                <a
                  href="/may-doi-tra/dien-thoai-cu-gia-re/iphone-13-pro-128gb-htm"
                  title=""
                  >iPhone 13 Pro 128GB</a
                >
              </h3>
              <p class="mc-lpri">
                Giá từ: <span>18.968.000<u>₫</u></span>
              </p>
              <div class="mc-lpribox">
                <p class="mc-lpri1">Giá máy mới: 30.990.000 ₫</p>
                <p class="mc-lpri2">Tiết kiệm: 12.022.000₫ (39 %)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 234.4px">
        <div class="item">
          <div class="mc-lpcol">
            <a
              href="/may-doi-tra/dien-thoai-cu-gia-re/iphone-11-128gb-htm"
              title=""
              class="mc-lptop"
            >
              <p class="mc-lpimg">
                <img
                  src="https://fptshop.com.vn/Uploads/Thumbs/2019/9/11/637037652463173144_11-xanh.png"
                  alt="iPhone 11 128GB"
                />
              </p>
              <div class="mc-lpttm clearfix">
                <span class="mc-lpttm-i">24 máy</span>
                <div class="mc-lpttm-b">
                  <strong>Còn 24 máy tại:</strong>
                  <span
                    >Bà Rịa - Vũng Tàu,Bắc Ninh,Bình Định,Hà Nội,Hà Tĩnh,Hải
                    Phòng,Hồ Chí Minh,Lào Cai,Phú Thọ,Thanh Hóa</span
                  >
                </div>
              </div>
              <div class="mc-ptrkmp">Giảm 2.023.340₫</div>
            </a>
            <div class="mc-lpbot">
              <h3 class="mc-lpiname">
                <a
                  href="/may-doi-tra/dien-thoai-cu-gia-re/iphone-11-128gb-htm"
                  title=""
                  >iPhone 11 128GB</a
                >
              </h3>
              <p class="mc-lpri">
                Giá từ: <span>9.879.000<u>₫</u></span>
              </p>
              <div class="mc-lpribox">
                <p class="mc-lpri1">Giá máy mới: 16.999.000 ₫</p>
                <p class="mc-lpri2">Tiết kiệm: 7.120.000₫ (42 %)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="width: 234.4px">
        <div class="item">
          <div class="mc-lpcol">
            <a
              href="/may-doi-tra/dien-thoai-cu-gia-re/iphone-13-pro-max-128gb-htm"
              title=""
              class="mc-lptop"
            >
              <p class="mc-lpimg">
                <img
                  src="https://fptshop.com.vn/Uploads/Thumbs/2022/4/19/637859751770980691_iphone-13-pro-max-xam-1.jpg"
                  alt="iPhone 13 Pro Max 128GB"
                />
              </p>
              <div class="mc-lpttm clearfix">
                <span class="mc-lpttm-i">3 máy</span>
                <div class="mc-lpttm-b">
                  <strong>Còn 3 máy tại:</strong>
                  <span>Hà Nội,Hồ Chí Minh</span>
                </div>
              </div>
              <div class="mc-ptrkmp">Giảm 2.651.000₫</div>
            </a>
            <div class="mc-lpbot">
              <h3 class="mc-lpiname">
                <a
                  href="/may-doi-tra/dien-thoai-cu-gia-re/iphone-13-pro-max-128gb-htm"
                  title=""
                  >iPhone 13 Pro Max 128GB</a
                >
              </h3>
              <p class="mc-lpri">
                Giá từ: <span>23.859.000<u>₫</u></span>
              </p>
              <div class="mc-lpribox">
                <p class="mc-lpri1">Giá máy mới: 33.990.000 ₫</p>
                <p class="mc-lpri2">Tiết kiệm: 10.131.000₫ (30 %)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="width: 234.4px">
        <div class="item">
          <div class="mc-lpcol">
            <a
              href="/may-doi-tra/dien-thoai-cu-gia-re/iphone-11-64gb-htm"
              title=""
              class="mc-lptop"
            >
              <p class="mc-lpimg">
                <img
                  src="https://fptshop.com.vn/Uploads/Thumbs/2019/9/11/637037652463173144_11-xanh.png"
                  alt="iPhone 11 64GB"
                />
              </p>
              <div class="mc-lpttm clearfix">
                <span class="mc-lpttm-i">83 máy</span>
                <div class="mc-lpttm-b">
                  <strong>Còn 83 máy tại:</strong>
                  <span
                    >An Giang,Bà Rịa - Vũng Tàu,Bắc Ninh,Bến Tre,Bình Phước,Cà
                    Mau,Cần Thơ,Đồng Nai,Hà Nam,Hà Nội,Hải Dương,Hồ Chí
                    Minh,Long An,Nghệ An,Ninh Bình,Phú Thọ,Quảng Nam,Sóc
                    Trăng,Tây Ninh,Thái Bình,Thái Nguyên,Thanh Hóa,Thừa Thiên
                    Huế</span
                  >
                </div>
              </div>
              <div class="mc-ptrkmp">Giảm 1.783.980₫</div>
            </a>
            <div class="mc-lpbot">
              <h3 class="mc-lpiname">
                <a
                  href="/may-doi-tra/dien-thoai-cu-gia-re/iphone-11-64gb-htm"
                  title=""
                  >iPhone 11 64GB</a
                >
              </h3>
              <p class="mc-lpri">
                Giá từ: <span>8.710.000<u>₫</u></span>
              </p>
              <div class="mc-lpribox">
                <p class="mc-lpri1">Giá máy mới: 14.999.000 ₫</p>
                <p class="mc-lpri2">Tiết kiệm: 6.289.000₫ (42 %)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="width: 234.4px">
        <div class="item">
          <div class="mc-lpcol">
            <a
              href="/may-doi-tra/dien-thoai-cu-gia-re/samsung-galaxy-z-flip3-5g-128gb-htm"
              title=""
              class="mc-lptop"
            >
              <p class="mc-lpimg">
                <img
                  src="https://fptshop.com.vn/Uploads/Thumbs/2021/8/11/637643176218233582_samsung-galaxy-z-flip3-5g-tim-1.jpg"
                  alt="Samsung Galaxy Z Flip3 5G 128GB"
                />
              </p>
              <div class="mc-lpttm clearfix">
                <span class="mc-lpttm-i">94 máy</span>
                <div class="mc-lpttm-b">
                  <strong>Còn 94 máy tại:</strong>
                  <span
                    >Bà Rịa - Vũng Tàu,Bắc Giang,Bắc Kạn,Bắc Ninh,Bình
                    Dương,Bình Thuận,Cần Thơ,Cao Bằng,Đà Nẵng,Điện Biên,Hà
                    Nam,Hà Nội,Hải Dương,Hải Phòng,Hồ Chí Minh,Hòa Bình,Lâm
                    Đồng,Lào Cai,Nam Định,Ninh Bình,Phú Thọ,Quảng Ninh,Quảng
                    Trị,Tây Ninh,Thái Bình,Thanh Hóa,Vĩnh Phúc,Yên Bái</span
                  >
                </div>
              </div>
              <div class="mc-ptrkmp">Giảm 4.123.680₫</div>
            </a>
            <div class="mc-lpbot">
              <h3 class="mc-lpiname">
                <a
                  href="/may-doi-tra/dien-thoai-cu-gia-re/samsung-galaxy-z-flip3-5g-128gb-htm"
                  title=""
                  >Samsung Galaxy Z Flip3...</a
                >
              </h3>
              <p class="mc-lpri">
                Giá từ: <span>8.372.000<u>₫</u></span>
              </p>
              <div class="mc-lpribox">
                <p class="mc-lpri1">Giá máy mới: 24.990.000 ₫</p>
                <p class="mc-lpri2">Tiết kiệm: 16.618.000₫ (66 %)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mc-bots">
      <div class="mc-brow clearfix">
        <div class="mc-bcoll mc-bco1">
          <div class="mc-bhds">
            <h3>Tư vấn miễn phí</h3>
            <h4>
              Tổng đài <span>18006601</span> gọi để nghe tư vấn nhanh, cuộc gọi
              miễn phí
            </h4>
          </div>

          <div
            id="root-comment"
            data-title="may-tinh-xach-tay"
            data-modulid="4"
            data-total="0"
          >
            <div class="fpt-comment">
              <div class="">
                <div class="card card-md user-feedback">
                  <div class="card-title">
                    <h3 class="h5 heading">Hỏi &amp; Đáp</h3>
                  </div>
                  <div class="card-body">
                    <div class="user-form">
                      <form>
                        <div class="form-group">
                          <textarea
                            name="newContent"
                            class="form-input form-input-lg"
                            rows="3"
                            placeholder="Nhập nội dung bình luận (tiếng Việt có dấu)..."
                          ></textarea
                          ><button type="submit" class="btn btn-primary btn-lg">
                            GỬI BÌNH LUẬN
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mc-bcoll mc-bco2">
          <div class="mc-sbr">
            <h3>Giới thiệu về máy đổi trả tại FPT Shop</h3>
            <p>
              <strong>Máy đổi trả</strong> là những Điện thoại , Máy tính bảng,
              Laptop được bán ra tại FPT Shop, miễn phí đổi sản phẩm tương đương
              trong 30 ngày đầu tiên nếu sản phẩm có lỗi nhà sản xuất.
            </p>
            <p>
              <strong>FPT Shop</strong> chỉ thu lại những sản phẩm được bán ra
              tại FPT Shop, không thu mua lại các sản phẩm nơi khác. Vì vậy, các
              sản phẩm đều là hàng chính hãng và có chất lượng tốt nhất.
            </p>
            <p>
              Tham khảo chi tiết chính sách máy đổi trả
              <a href="/ho-tro/chinh-sach-doi-san-pham#csdtmc" target="_blank"
                >tại đây</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
